.present {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  outline: none;
}

.present-item {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.current-present.shake {
  animation: shake 0.5s infinite;
}
.present-process {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  display: grid;
  column-gap: 2px;
}
.process-item {
  transition: background-color 500ms;
}
.pagination {
  position: absolute;
  right: 15px;
  bottom: 25px;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  50% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  75% {
    transform: translate(-5px, -5px) rotate(-5deg);
  }
  100% {
    transform: translate(0);
  }
}
